div
    color: #000000
.card-list
    display: flex
    text-align: center
    flex-direction: column
    margin-top: 20px
    align-items: center
    .description
        width: 50%
    .cards
        display: flex
        flex-direction: row
        flex-wrap: wrap
        >div
            margin-bottom: 15px

.style-section
    background-color: #baaca0
    margin: 20px
    padding:20px
    overflow: hidden

.card-filter
    .options
        display: flex
        >div
            color: #acacac
            background-color: #acacac
            pointer: cursor 
        .active
            color: white
            background-color: #4676f4

.make-button
    background-color: $primary
    color: white
    cursor: pointer
    width: 20vw
    height: 5vw

.style-list
    padding: 15px
    .style-item
        margin: 5px
        padding: 5px
        background-color: #868686
        .style-title
            display: flex
            flex-direction: row