div
    color: #000000
.card-list
    display: flex
    text-align: center
    flex-direction: column
    margin-top: 20px
    align-items: center
    .description
        width: 50%
    .cards
        display: flex
        flex-direction: row
        flex-wrap: wrap
        >div
            margin-bottom: 15px

.card-filter
    .options
        display: flex
        >div
            color: #acacac
            background-color: #acacac
            pointer: cursor 
        .active
            color: white
            background-color: #4676f4