.card-list
    display: flex
    text-align: center
    flex-direction: column
    margin-top: 20px
    align-items: center
    .description
        width: 50%
    .cards
        display: flex
        flex-direction: row
        flex-wrap: wrap
        >div
            margin-bottom: 15px