.login
    display: flex
    flex-direction: column
    justify-items: center
    align-items: center
    margin-top: 20px
    color: white
    .error
        background-color: $richRed
        margin: 5px 0 5px 0
        padding: 5px
        text-align: center
    .form
        width:50%
        display: flex
        flex-direction: column